<h4 mat-dialog-title>{{visitType}} Visit</h4>
<mat-dialog-content>
  <form [formGroup]="visitForm">
    <div class="row">
      <div class="col-6">
        <!-- <mat-divider></mat-divider>
        <h5>Visit</h5> -->
        <mat-form-field>
          <input matInput placeholder="Patient" formControlName="patientCtrl">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Employee" formControlName="employeeCtrl" (change)="getFieldVal('employeeCtrl')">
            <mat-option *ngFor="let employee of employees" [value]="employee.employeeId">
              {{employee.fullName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <mat-divider></mat-divider>
        <h5>Scheduling</h5> -->
        <mat-form-field>
          <input matInput [matDatepicker]="dp" placeholder="Choose a date" formControlName="dateCtrl" (dateChange)="setVisitDate('dateCtrl')">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Start" type="time" formControlName="startCtrl" [value]="visit.startDateTime|date:'HH:MM'"
            (change)="setStartTime('startCtrl')">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="End" type="time" formControlName="endCtrl" [value]="visit.endDateTime|date:'HH:MM'"
            (change)="setEndTime('endCtrl')">
        </mat-form-field>
      </div>
      <div class="col-6">
        <!-- <mat-divider></mat-divider>
        <h5>Billing</h5> -->
        <mat-form-field>
          <mat-select placeholder="Contract" formControlName="contractCtrl" (change)="getFieldVal('contractCtrl')">
            <mat-option *ngFor="let contract of (contractList|active)" [value]="contract.insuranceId">
              {{contract.insurance.insuranceName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Service Code" formControlName="serviceCodeCtrl" (change)="getServiceCode('serviceCodeCtrl')"
            [value]="visit.serviceCode">
            <mat-option *ngFor="let serviceCode of serviceCodes" [value]="serviceCode.name">
              {{serviceCode.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Units" [value]="visit.visitSpan">
        </mat-form-field>
        <!-- <mat-divider></mat-divider>
        <h5>Visit Information</h5> -->
        <mat-form-field>
          <mat-select placeholder="Authorizations" formControlName="athorizationCtrl" (change)="getFieldVal('athorizationCtrl')">
            <mat-option *ngFor="let authorization of authorizationList" [value]="authorization.chartAuthorizationId">
              {{authorization.authorizationNumber}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="!isNew">
          <mat-form-field>
            <mat-select placeholder="Status" formControlName="statusCtrl" (change)="getFieldVal('statusCtrl')">
              <mat-option *ngFor="let scheduleType of scheduleTypes" [value]="scheduleType.key">
                {{scheduleType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>



</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button mat-flat-button color="primary" (click)="save()">Save</button>
  <button mat-button mat-dialog-close [mat-dialog-close]="visitForm.value">Cancel</button>
</div>
