<!--component html goes here -->

<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title pull-left">Edit Criminal Background Check Info </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-content px-1 py-1">
      <form id="criminalBackgroundCheckEditForm" #criminalBackgroundCheckEditForm="ngForm" (ngSubmit)="createBackgroundCheckInfo()" autocomplete="never-ever-hcm">
        <div class="container">
            <div class="form">
                <div class="form-group row">
                    <label for="sentOn" class="col-5 col-form-label">Sent On: </label>
                    <div class="col-7">
                        <input
                            type="text"
                            name="sentOn"
                            placeholder="Sent On"
                            required
                            class="form-control"
                            bsDatepicker
                            #sentOnControl="ngModel"
                            [ngClass]="{
                                'border-danger': sentOnControl.invalid && (sentOnControl.dirty || sentOnControl.touched),
                                'border-success': sentOnControl.valid && (sentOnControl.dirty || sentOnControl.touched)
                            }"
                            [(ngModel)]="check.sentOutDate" />
                        <div *ngIf="sentOnControl.invalid && (sentOnControl.dirty || sentOnControl.touched)" class="text-danger">
                            Sent On is required.
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="receivedOn" class="col-5 col-form-label">Received On: </label>
                    <div class="col-7">
                        <input
                            type="text"
                            name="receivedOn"
                            placeholder="Received On"
                            required
                            class="form-control"
                            bsDatepicker
                            #receivedOnControl="ngModel"
                            [ngClass]="{
                                'border-danger': receivedOnControl.invalid && (receivedOnControl.dirty || receivedOnControl.touched),
                                'border-success': receivedOnControl.valid && (receivedOnControl.dirty || receivedOnControl.touched)
                            }"
                            [(ngModel)]="check.responseReceivedDate" />
                        <div *ngIf="receivedOnControl.invalid && (receivedOnControl.dirty || receivedOnControl.touched)" class="text-danger">
                            Received On is required.
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="name" class="col-5 col-form-label">Result: </label>
                    <div class="col-7">
                        <select autocomplete="never-ever-hcm" required class="form-control form-control-sm" #relationship="ngModel" [(ngModel)]="check.statusId"
                          name="result">
                              <option *ngFor = "let r of criminalBackgroundCheckResult"  [ngValue]="r.key">{{r.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
      </form>
  </div>
  <div class="modal-footer">
      <div class="container">
          <div class="offset-md-4 col-md-4">
              <button type="button" class="btn btn-primary"  (click)="editBackgroundCheckInfo(check)">
                <em class="fa fa-save"></em>
                Save
              </button>
              <button type="button" class="btn btn-outline-primary" (click)="closeModal()">
                <em class="fa fa-undo"></em>
                Cancel
              </button>
          </div>
      </div>
  </div>
</div>
