hr {
  margin: 0 8px;
}

em.fa-paperclip {
  transform: scaleX(-1);
  margin-left: 15px;
}

.red {
  color: red;
}

.yellow {
  color: orange;
}

thead {
   tr {
      th:last-child {
         width: 50px;
      }
   }
}
