<div class="d-flex justify-content-center mt-3 mb-5">
  <h3 class="mt-3"><u><i class="fa fa-ambulance"></i>&nbsp;Coordination - Clinical</u></h3>
</div>
<div class="container">
  <form #referralCoordinationClinicalForm="ngForm" autocomplete="never-ever-hcm">
    <div class="row">
      <div class="col-3"></div>
      <div class="col align-self-center">
        <h6 class="text-bold"><u>Coordination</u></h6>
        <div class="form-row">
          <div class="d-inline-block col-md-6">
            <div class="form-group  mb-0" [class.has-error]="intakeCoordinator.invalid &&(intakeCoordinator.touched || intakeCoordinator.dirty)">
              <label class="control-label mb-0">Intake Coordinator</label>
              <select required name="intakeCoordinator" class="form-control form-control-sm" [(ngModel)]="newReferral.intakeCoordinatorId"
                #intakeCoordinator="ngModel">
                <option *ngFor="let coordinator of coordinatorsList" [ngValue]="coordinator.key">{{coordinator.name}}</option>
              </select>
            </div>
          </div>
          <div class="d-inline-block col-xs-6 col-3">
            <div class="form-group  mb-0">
              <label class="control-label  mb-0 optional">Primary Language</label>
              <select name="primaryLanguage" class="form-control form-control-sm" [(ngModel)]="newReferral.primaryLanguageId">
                <option *ngFor="let language of languagesList" [ngValue]="language.key">{{language.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <div class="form-group  mb-0">
              <label class="control-label mb-0 optional">Caregive Preferred Gender</label>
              <select name="PreferredGender" [(ngModel)]="newReferral.genderPreferenceId" class="form-control form-control-sm">
                <option *ngFor="let preference of genderPreference" [ngValue]="preference.key">{{preference.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-xs-4 col-3">
            <div class="form-group">
              <label class="control-label mb-0">Accepts Other Gender</label>
              <select name="otherGenderAcceptance" [(ngModel)]="newReferral.otherGenderAcceptanceId" class="form-control form-control-sm">
                <option *ngFor="let preference of otherGenderPreferenceAcceptance" [ngValue]="preference.key">{{preference.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="d-sm-inline-block col-xs-4">
            <div class="form-group  mb-0">
              <label class="control-label mb-0">Sabbath Observant</label>
              <label class="switch switch-lg m-0">
                <input class="form-control form-control-sm" name="sabbathObservent" type="checkbox" [(ngModel)]="newReferral.sabbathObservant" />
                <span></span>
              </label>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label class="control-label mb-0">Social Day Care</label>
              <select name="dayCare" [(ngModel)]="newReferral.dayCareId" class="form-control form-control-sm">
                <option *ngFor="let preference of dayCareList" [ngValue]="preference.key">{{preference.name}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group ">
            <label class="control-label">
              CDPAS
            </label>
            <label class="switch switch-lg m-0">
              <input class="form-control" name="CDPAS" type="checkbox" [(ngModel)]="newReferral.isCDPAS" />
              <span></span>
            </label>
          </div>
        <div class="form-row">
          <div class="col-9">
            <div class="form-group">
              <label class="control-label optional mb-0">Comments</label>
              <textarea class="form-control" name="comments" type="text" [(ngModel)]="newReferral.coordinationComments"
                #comments="ngModel" ></textarea>
            </div>
          </div>
        </div>
        <div class="col" *ngIf="newReferral.isCDPAS">
          <h5><b>CDPAS Aide Info</b></h5>
          <div class="form-row" >
              <div class="form-group ">
                <label class="control-label">
                  Name
                </label>
                <input class="form-control" name="aideName" type="text" [(ngModel)]="newReferral.cdpasAideName" />
              </div>
              <div class="form-group ">
                <label class="control-label">
                  Phone Number
                </label>
                <input required autocomplete="never-ever-hcm" name="phoneNumber" type="tel" class="form-control form-control-sm"
                  appPhoneValidator [textMask]="{mask: phoneNumberMask}" [(ngModel)]="newReferral.cdpasAidePhoneNumber" />
              </div>
              <div class="form-group ">
                <label class="control-label">
                  Relationship
                </label>
                <select autocomplete="never-ever-hcm" required class="form-control form-control-sm" required #relationship="ngModel"
                  [(ngModel)]="newReferral.cdpasAideRelationship" name="relationship">
                  <option *ngFor="let r of relationshipList" [ngValue]="r.key">{{r.name}}</option>
                </select>
              </div>
              <div class="form-group ">
                <label class="control-label">
                  Rate Request
                </label>
                <input class="form-control" name="rate" type="number" placeholder="$0.00" [(ngModel)]="newReferral.cdpasAideRateRequest" />
              </div>
            </div>
        </div>
        <hr>
        <h6 class="text-bold"><u>Clinical</u></h6>
        <div class="form-row">
          <div class="form-group col-xs-2">
            <label class="control-label">Is PDN</label>
            <label class="switch switch-lg m-0">
              <input class="form-control" name="isPDN" type="checkbox" [(ngModel)]="newReferral.isPDN" />
              <span></span>
            </label>
          </div>
          <div class="form-group col-xs-6">
            <label class="control-label mb-0">
              Transportation Level
            </label>
            <select [(ngModel)]="newReferral.transportationLevelId" name="transportationlevelId" #transportationlevelId="ngModel"
              class="form-control form-control-sm">
              <option *ngFor="let level of transportationLevelLookup" [ngValue]="level.key">{{level.name}}</option>
            </select>
          </div>
          <div class="form-group col-xs-2">
            <label class="control-label mb-0">Evacuation Zone</label>
            <select [(ngModel)]="newReferral.evacuationZoneId" name="evacuationZoneId" #transportationlevelId="ngModel"
              class="form-control form-control-sm">
              <option *ngFor="let level of evacuationZoneLookup" [ngValue]="level.key">{{level.name}}</option>
            </select>
          </div>
          <div class="form-group col-xs-3">
            <label class="control-label mb-0">Evacuation Location</label>
            <select [(ngModel)]="newReferral.evacuationLocationId" name="evacuationLocationId" #transportationlevelId="ngModel"
              class="form-control form-control-sm">
              <option *ngFor="let level of evacuationLocationLookup" [ngValue]="level.key">{{level.name}}</option>
            </select>
          </div>
        </div>
        <h6 class="text-bold">Physicians</h6>
        <div class="container">
          <div class="row">
            <div class="form-group col-6">
              <label for="" class="control-label mb-0">Physician</label>&nbsp;<small class="text-muted">(Search)</small>
              <div class="" dropdown #dropdown="bs-dropdown">
                <input autocomplete="off" class="form-control form-control-sm" name="physicianSearch" type="text"
                  [(ngModel)]="asyncSelected" (keyup)="onSearchTextChanged($event); dropdown.show()" (blur)="dropdown.hide()"/>

                <div class="dropdown-menu mb-2" *dropdownMenu style="height:220px; width: 445px; position: relative; overflow-y:auto"
                  infinite-scroll [infiniteScrollDistance]="2" [scrollWindow]="false" (scrolled)="loadPhysicians(asyncSelected)">
                  <div *ngIf="typeaheadLoading"><span class="fa fa-pulse fa-spinner"></span></div>
                  <div *ngIf="noResults">No Results</div>
                  <button class="dropdown-item" *ngFor="let physician of physicians" (mousedown)="selectPhysician(physician); dropdown.hide()">
                    <div class="container">
                      <div class="row">
                        <div class="col-3">
                          <div class="text font-weight-bold">{{physician.firstName}}, &nbsp;</div>
                          <div class="text font-weight-bold">{{physician.lastName}}</div>
                        </div>
                        <div class="col-sm-6 col-lg-4 p-0">
                          <div class="alert bg-gray-lighter text text-center" *ngIf="!physician.addresses ||  physician.addresses.length <=0">
                            <small>No Addresses</small>
                          </div>
                          <address *ngFor="let physicianAddress of physician.addresses">
                            {{physicianAddress.addressLine1}}
                            <small *ngIf="physicianAddress.addressLine2">
                              <br> {{physicianAddress.addressLine2}}
                            </small>
                            <br> {{physicianAddress.city}}, {{physicianAddress.state}} {{physicianAddress.zip}}
                          </address>
                        </div>
                        <div class="col-sm-3 col-lg-3 p-0">
                          <div *ngIf="!physician.contacts || physician.contacts.length<=0">No Contact Info</div>
                          <p *ngFor="let physicianContact of physician.contacts">
                            <span>{{physicianContact.contactValue}}</span>
                          </p>
                        </div>
                        <div class="col-lg-2 col-sm-3">
                          <small class="badge badge-success" *ngIf="physician.isActive">Active</small>
                          <small class="badge badge-danger" *ngIf="physician.isActive===false">Inactive</small>
                        </div>
                      </div>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="container" *ngIf="selectedPhysicians?.length > 0">
            <h6 class="text-bold">Selected Physicians</h6>
            <hr>
            <div class="row">
              <div class="col-3" *ngFor="let item of selectedPhysicians; index as i">
                <div class="card h-100"  style="width:11rem;">
                  <div class="card-body">
                      <div class="card-title text-center">Dr: {{item.physician.firstName}} {{item.physician.lastName}}</div>
                      <hr class="mb-2">
                      <div class="alert bg-gray-lighter text-center" *ngIf="!item.physician.addresses ||  item.physician.addresses.length <=0">No Addresses</div>
                      <address *ngFor="let address of item.physician.addresses">
                        {{address.addressLine1}}
                        <small *ngIf="address.city">
                          <br> {{address.city}},&nbsp; {{address.state}}
                        </small>
                      </address>
                      <div *ngIf="!item.physician.contacts || item.physician.contacts.length <=0">No Contact Info</div>
                      <div *ngFor="let contact of item.physician.contacts; index as idx">{{idx+1}}. {{contact.contactValue}}</div>
                      <hr class="mb-1">
                      <div class="btn-toolbar justify-content-center">
                        <button class="btn btn-xs btn-outline-success mr-1" (click)="setPrimaryPhysician(i)"><span *ngIf="!item.isPrimary">Set </span>Primary</button>
                        <button class="btn btn-xs btn-outline-danger" (click)="removePhysician(i)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </form>
</div>