<!--component html goes here -->
<div class="home-container" *ngIf="!patientModel">
    <div class="jumbotron">
      <div class="row">
        <div class="col-lg-4 col-xl-3">
          <span class="fa fa-frown-o fa-4x"></span>
        </div>
        <div class="col-xl-9 col-lg-8 text text-danger">
          <h1 class="home-text-big">Profile not loaded</h1>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="patientModel">
    <div class="content-heading">
      <div class="media-body">
        <div class="d-flex">
          <div class="col-lg-3 mt-2">
            <strong>
              {{patientModel.fullName}}
            </strong>
          </div>
          <div class="col-lg-2">
            <p *ngIf="patientModel.facilityName">
              <small>Facility:</small>
              <b class="upper">{{patientModel.facilityName}}</b>
            </p>
            <p *ngIf="!patientModel.facilityName">
              <small>Residence Type:</small>
              <b class="upper">Community Base</b>
            </p>
          </div>

          <div class="col-lg-3 col-lg-push-2">
            <small>Intake Coordinator:</small>
            <b>Sam Jane</b>
          </div>
        </div>
      </div>
    </div>
    <div class="body-content">
        <mat-tab-group>
            <mat-tab *ngFor="let link of profileLinks; let i=index">
                <ng-template mat-tab-label>
                    <a label="Navigation"
                      [routerLink]='link'
                      (click)="activeLink = link" class="d-flex">
                      <i class="material-icons">{{profileIconList[i]}}</i>&nbsp; &nbsp;{{link | capitalizeFirst}}
                    </a>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
        <div class="mt-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

