<!--component html goes here -->
<div class="row">
  <div class="col-lg-6">
    <div class="b card h-100">
      <div class="card-header">
        <div class="card-title">
          <div class="float-right">
            <button type="button" class="btn btn-sm btn-outline-primary">
              <span class="fa fa-edit"></span>
            </button>
          </div>
          <p>About</p>
        </div>
      </div>
      <hr />
      <div class="card-body">
        <div class="d-flex">
          <ul class="list-unstyled px-4">
            <li>
                <app-editable-field [(value)]="patientDemographics.lastName" [mode]="'inline'" [saveCallback]="" [pipe]=""></app-editable-field>,
                &nbsp;<app-editable-field [(value)]="patientDemographics.firstName" [mode]="'inline'" [saveCallback]="" [pipe]=""></app-editable-field>
                &nbsp;<app-editable-field [(value)]="patientDemographics.middleInitial" [mode]="'inline'" [saveCallback]="" [pipe]=""></app-editable-field>
              <!-- {{patientDemographics.lastName}},&nbsp;{{patientDemographics.firstName}}&nbsp;{{patientDemographics.middleInitial}} -->
            </li>
            <li>
              <p>
                <small>Gender</small>&nbsp;
                <app-editable-field [(value)]="patientDemographics.gender" [mode]="'inline'" [saveCallback]="" [pipe]=""></app-editable-field>
                <!-- {{patientDemographics.gender | genderConvert}} -->
              </p>
            </li>
            <li>
              <p>
                <small>DOB</small>
                &nbsp;
                <b><app-editable-field [(value)]="patientDemographics.dateOfBirth" [mode]="'inline'" [saveCallback]="" [pipe]=""></app-editable-field>
                </b>
                  <!-- {{patientDemographics.dateOfBirth | date}} -->
              </p>

            </li>
            <li>
              <app-editable-field [(value)]="patientDemographics.socialSecurity" [mode]="'inline'" [saveCallback]="" [pipe]=""></app-editable-field>
              <!-- {{patientDemographics.socialSecurity |ssn}} -->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
      <div class="b card h-100">
        <div class="card-header">
          <div class="card-title">
            <!-- <div class="pull-right">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="openContactModal(editContactModal)">
                  <span class="fa fa-edit"></span>
                </button>
              </div>
            </div> -->
            <p>Contact</p>
          </div>
        </div>
        <hr />
        <div class="card-body">
          <div class="d-flex">
            <div class="col-lg-6 col-sm-12">
              <div class="media align-items-center">
                <em class="fa fa-lg fa-fw mr-2 fa-home"></em>
                <div class="media-body pt-1">
                  <div class="text-bold" *ngIf="patientDemographics.serviceAddress">
                    <small>Service Address</small>
                    <p>
                        <app-editable-field [(value)]="patientDemographics.serviceAddress.addressLine1"   [saveCallback]="savePatientContactInfo.bind(this)" [pipe]=""></app-editable-field>
                      <!-- {{patientDemographics.serviceAddress.addressLine1}} (valueChange)="saveCallback($event)"-->
                      <br />
                      <span *ngIf="patientDemographics.serviceAddress.addressLine2">
                          <app-editable-field [(value)]="patientDemographics.serviceAddress.addressLine2"   [saveCallback]="savePatientContactInfo.bind(this)" [pipe]=""></app-editable-field>
                        <!-- {{patientDemographics.serviceAddress.addressLine2}} -->
                        <br />
                      </span>
                      <app-editable-field [(value)]="patientDemographics.serviceAddress.city"  [saveCallback]="savePatientContactInfo.bind(this)" [pipe]=""></app-editable-field>, <app-editable-field [(value)]="patientDemographics.serviceAddress.state"   [saveCallback]="savePatientContactInfo.bind(this)" [pipe]=""></app-editable-field> <app-editable-field [(value)]="patientDemographics.serviceAddress.zip"   [saveCallback]="savePatientContactInfo.bind(this)" [pipe]=""></app-editable-field>
                      <!-- {{patientDemographics.serviceAddress.city}}, {{patientDemographics.serviceAddress.state}} {{patientDemographics.serviceAddress.zip}} -->
                    </p>
                  </div>
                </div>
              </div>
              <div class="media align-items-center">
                <em class="fa fa-envelope  fa-lg fa-fw mr-2"></em>
                <div class="media-body pt-1">
                  <div class="text-bold" *ngIf="patientDemographics.mailingAddress != null">
                    <small>Mailing Address</small>
                    <p>
                        <app-editable-field [(value)]="patientDemographics.mailingAddress.addressLine1"   [saveCallback]="savePatientContactInfo.bind(this)" [pipe]=""></app-editable-field>
                      <!-- {{patientDemographics.mailingAddress.addressLine1}} -->
                      <br />
                      <span *ngIf="patientDemographics.mailingAddress.addressLine2 != null ">
                          <app-editable-field [(value)]="patientDemographics.mailingAddress.addressLine2"   [saveCallback]="savePatientContactInfo.bind(this)" [pipe]=""></app-editable-field>
                        <!-- {{patientDemographics.mailingAddress.addressLine2}} -->
                        <br />
                      </span>
                      <app-editable-field [(value)]="patientDemographics.mailingAddress.city"   [saveCallback]="savePatientContactInfo.bind(this)" [pipe]=""></app-editable-field>, <app-editable-field [(value)]="patientDemographics.mailingAddress.state"   [saveCallback]="savePatientContactInfo.bind(this)" [pipe]=""></app-editable-field> <app-editable-field [(value)]="patientDemographics.mailingAddress.zip"   [saveCallback]="savePatientContactInfo.bind(this)" [pipe]=""></app-editable-field>
                      <!-- {{patientDemographics.mailingAddress.city}}, {{patientDemographics.mailingAddress.state}} {{patientDemographics.mailingAddress.zip}} -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <table class="table borderless">
                <tbody>
                  <tr class="borderless">
                    <td class="fit">
                      <em class="fa fa-phone mr-3 fa-fw fa-lg"></em>
                    </td>
                    <td *ngIf="patientDemographics.homePhone != null">
                        <app-editable-field [(value)]="patientDemographics.homePhone.contactValue"   [saveCallback]="savePatientContactInfo.bind(this)" [pipe]=""></app-editable-field></td>
                      <!-- {{patientDemographics.homePhone.contactValue}} -->
                  </tr>
                  <tr>
                    <td>
                      <em class="fa fa-mobile-phone mr-3 fa-fw fa-lg"></em>
                    </td>
                    <td *ngIf="patientDemographics.cellPhone != null"><app-editable-field [(value)]="patientDemographics.cellPhone.contactValue"   [saveCallback]="savePatientContactInfo.bind(this)" [pipe]=""></app-editable-field></td>
                    <!-- {{patientDemographics.cellPhone.contactValue}}</td> -->
                  </tr>
                  <tr>
                    <td>
                      <em class="fa fa-fax fa-fw fa-lg mr-3"></em>
                    </td>
                        <td><app-editable-field [(value)]="patientDemographics.fax.contactValue"   [saveCallback]="savePatientContactInfo.bind(this)" [pipe]=""></app-editable-field></td>
                        <!-- {{patientDemographics.fax.contactValue}}</td> -->
                  </tr>
                  <tr>
                    <td>
                      <em class="fa fa-at mr-3 fa-fw fa-lg"></em>
                    </td>
                    <td><app-editable-field [(value)]="patientDemographics.email.contactValue"   [saveCallback]="savePatientContactInfo.bind(this)" [pipe]=""></app-editable-field></td>
                    <!-- {{patientDemographics.email?.contactValue}}</td> -->
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

      </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="card h-100">
            <div class="card-header">
                <div class="card-title">
                    <div class="float-right">
                        <button type="button" class="btn btn-sm btn-outline-primary" title="Add new Emergency Contact" (click)="openEmergencyContactModal()">
                            <em class="fa fa-plus"></em>
                        </button>
                    </div>
                    <p>Emergency Contact</p>
                </div>
            </div>
            <hr/>
            <div class="card-body">
                <div class="col-lg-12" *ngIf="loadingEmergencyContacts">
                    <i class="fa fa-spinner fa-spin fa-4x"></i>
                </div>
                <table class="table table-bordered" *ngIf="!loadingEmergencyContacts">
                    <thead>
                        <tr>
                          <th>Name</th>
                          <th>Phone</th>
                          <th>Cell</th>
                          <th>Relationship</th>
                          <th class="text text-center">
                            <span class="fa fa-gear text-center"></span>
                          </th>
                        </tr>
                    </thead>

                    <tbody *ngIf="patientDemographics?.emergencyContact?.length > 0">
                        <tr *ngFor="let emergencyContact of patientDemographics.emergencyContact">
                            <td>
                              {{emergencyContact.lastName}}, {{emergencyContact.firstName}} {{emergencyContact.middleInitial}}
                              <span *ngIf="emergencyContact.nickName">({{emergencyContact.nickName}})</span>
                            </td>
                            <td>{{emergencyContact?.homePhone?.contactValue}}</td>
                            <td>{{emergencyContact?.cellPhone?.contactValue}}</td>
                            <td>
                                <app-convert-lookup-from-server [lookupTypeArgs]="'RelationshipLookupService'" [fieldValue]='emergencyContact.relationshipId'></app-convert-lookup-from-server>
                              </td>
                            <td>
                                <div class="btn-toolbar">
                                    <div class="btn-group btn-group-xs">
                                        <button class="btn btn-xs btn-outline-primary" (click)="openEmergencyContactModal(emergencyContact)">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button class="btn btn-xs btn-outline-danger" (click)="deleteEmergencyContact(emergencyContact.emergencyContactId)" *ngIf="(deletingEmergencyContact && deletingEmergencyContactContactId ===emergencyContact.emergencyContactId) === false">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <span class="btn btn-xs btn-outline-info" *ngIf="(deletingEmergencyContact && deletingEmergencyContactContactId ===emergencyContact.emergencyContactId)">
                                            <i class="fa fa-spinner fa-spin"></i>
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-sm-12">
        <div class="card h-100">
            <div class="card-header">
                <div class="card-title">
                    <div class="float-right">
                        <button type="button" class="btn btn-sm btn-outline-primary" title="Edit Medicaid & Medicare" (click)="editMedicaidAndMedicare()">
                            <em class="fa fa-edit"></em>
                        </button>
                    </div>
                    Medicaid & Medicare
                </div>
            </div>
            <hr />
            <div class="card-body">
                <table class="table borderless">
                    <tbody>
                        <tr class="borderless">
                            <td>
                              Medicare Number
                            </td>
                            <td>{{patientDemographics.medicareMemberId}}</td>
                        </tr>
                        <tr>
                            <td>
                              Medicaid Number
                            </td>
                            <td>{{patientDemographics.medicaidMemberId}}</td>
                        </tr>
                        <tr>
                            <td>
                              Covered For Medicaid
                            </td>
                            <td>{{patientDemographics.coveredForMedicaid | yesNo}}<span *ngIf="patientDemographics.medicaidComment"> -&emsp;{{patientDemographics.medicaidComment}}</span></td>
                        </tr>
                        <tr>
                            <td>
                              Entitlement Issue
                            </td>
                            <td>{{patientDemographics.entitlementIssues| yesNo}}<span *ngIf="patientDemographics.entitlementIssuesComment"> -&emsp;{{ patientDemographics.entitlementIssuesComment}}</span></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>


